<!doctype html>
<html>
    <head>
        <title>Flask + SocketIO Example</title>
        <link href="{{url_for('static', filename='js/sweetalert2.min.css')}}">
        <script src="{{url_for('static', filename='js/jquery-1.11.1.js')}}"></script>
        <script src="{{url_for('static', filename='js/sweetalert2.all.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var socket = io.connect('http://' + document.domain + ':' + location.port);
                asyn check function(
                    
                )
                socket.on('connect', function() {
                    console.log('connected');
                });
                socket.on('disconnect',function(){
                    alert('Se ha perdido la conexión con el servidor');
                });
            });
        </script>
    </head>
    